# Portfolio Environment Variables (Example)
VITE_APP_TITLE=
VITE_API_URL=
VITE_CONTACT_EMAIL=saravanankanagaraj02@gmail.com

# EmailJS Configuration
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=
